.productList{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    justify-content: flex-start;
    justify-content: space-between;
    border: 1px solid  var(--color-grey-secoundary);
    background-color: var(--color-grey-secoundary);
    max-width: 1440px;
    margin: 0 auto;
}

.item {
    flex: 1 0 calc(50% - 1px);
    max-width: calc(50% - 1px);
    background-color: white;
    border-bottom: 1px solid  var(--color-grey-secoundary);

    @media (min-width: 1024px) {
        flex: 1 0 calc(25% - 1px);
        max-width: calc(25% - 1px);
    }
}