.productDetails{
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: "gallery"
                         "price"
                         "specs";
    
    @media (min-width: 1024px) {
        grid-template-areas: "gallery price"
                             "specs price";
        grid-template-columns: 60% 40%; 
    }
}

.info{
    height: 100%;
    vertical-align: top;
    padding: 16px;
    border-left: 1px solid var(--color-grey-secoundary);
    grid-area: price;
}

.price {
    font-weight: 400;
    font-size: 32px;

    @media (min-width: 1024px) {
        padding: 32px 0 0 32px;
    }
}

.guarantee{
    color: rgb(87 100 81);
    font-weight: 400;

    @media (min-width: 1024px) {
        padding-left: 32px;
    }
}

.subTitle{
    padding-left: 16px;

    @media (min-width: 1024px) {
        padding-left: 8px;
    }
}

.code{
    padding-left: 16px;

    @media (min-width: 1024px) {
        padding: 8px;
    }
}

.productinfo{
    padding: 16px;

    @media (min-width: 1024px) {
        padding: 8px 16px 16px 8px;
    }
}

.offer {
    color: rgb(156	56 46);
    font-weight: 400;

    @media (min-width: 1024px) {
        padding-left: 32px;
    }
}

.specs{
    grid-area: specs;
    padding: 8px 0;
}

.features{
    list-style: none;
    padding-bottom: 32px;

    @media (min-width: 1024px) {
        padding: 0 16px 32px 8px;
    }
}

.feature{
    border-bottom: 1px solid var(--color-grey-secoundary);
    padding: 16px;
    height: 48px;

    @media (min-width: 1024px) {
        padding: 16px 8px 16px 8px;
    }
}

.name{
    float: left;
    font-weight: 400;
    color: var(--color-grey-text);
}

.value{
    float: right;
    color: var(--color-grey-text);
}