.productCarousel {
  display: inline-block;
  padding: 8px;
  grid-area: gallery;
  max-width: 500px;
  margin: 0 auto;
}

.carousel{
  overflow-x: scroll;
  display: flex;
  scroll-snap-type: x mandatory;
  list-style: none;
}

.imageContainer{
  display: contents;
  width: 100%;
}

.image{
  scroll-snap-align: start;
  aspect-ratio: 3/4;
  height: 645px;

  @media (min-width: 1024px) {
    height: 645px;
  }
}

.dots{
  display: flex;
  gap: 8px;
  list-style: none;
  margin: 0 auto;
  justify-content: center;
  padding: 16px 0;
}

.dot{
  height: 8px;
  width: 8px;
  border-radius: 50%;
  border: none;
  padding: 0;
  background-color: var(--color-grey-secoundary);
}

.activeDot{
  background-color: var(--color-black)
}
