.heading {
    padding: 16px 0;
    background-color:  var(--color-grey-primary);
    color: var(--color-grey-heading);
    position: fixed;

    @media (min-width: 1024px) {
        position: unset;
    }
}