html,
body {
  padding: 0;
  margin: 0;
  font-family: GillSansforJL, Gill Sans, Gill Sans MT, GillSansMTStd-Medium,
    Avenir, Corbel, Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}


h1 {
  color: var(--color-grey-heading);
  margin-top: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: 1.56px;
  text-align: center;
  margin-bottom: 24px;
  margin: 0;
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-size: 30px;
    letter-spacing: 2.81px;
    line-height: 38px;
  }
}

h2 {
  margin-top: 0;
  font-size: 22px;
  font-weight: 200;
  line-height: 30px;
  letter-spacing: initial;
  text-transform: none;
}

h3 {
  color: var(--color-grey-heading);
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  letter-spacing: 1.07px;
  line-height: 32px;
}

p {
  color: var(--color-black);
  margin: 0;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: normal;
  line-height: 20px;
}

//resets
ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.eot?#iefix") format("embedded-opentype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff2") format("woff2"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.woff") format("woff"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.ttf") format("truetype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Lt.svg#jlicons") format("svg");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "GillSansforJL";
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot");
  src: url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.eot?#iefix") format("embedded-opentype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff2") format("woff2"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.woff") format("woff"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.ttf") format("truetype"), url("https://www.johnlewis.com/static/core/fonts/GillSansNovaforJLW01Md.svg#jlicons") format("svg");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-black: #141414;
  --color-white: white;
  --color-grey-primary: rgb(249, 249, 249);
  --color-grey-secoundary: rgb(223, 220, 212);
  --color-grey-text: rgb(152, 152, 152);
  --color-grey-heading: rgb(140, 140, 140);
}